.claim-form-page {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: left;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.claim-form-page h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #EF4524;
  font-family: Arial, Helvetica, sans-serif;
}

.claim-form-page form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.claim-form-page h3{
    color: #EF4524;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset {
  border: none;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

fieldset label {
    width: 100%;
  margin: 4px 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

legend {
  font-weight: bold;
  margin-bottom: 8px;
  font-family: Arial, Helvetica, sans-serif;
}


.claim-form-page input,
.claim-form-page textarea,
.claim-form-page select {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.claim-form-page input {
  padding: 8px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.claim-form-page input::placeholder {
  color: #5c5c5c; 
  opacity: 1; 
  font-family: Arial, Helvetica, sans-serif;
}
.claim-form-page textarea::placeholder {
  color: #5c5c5c; 
  opacity: 1; 
  font-family: Arial, Helvetica, sans-serif;
}


.claim-form-page select{
    margin-left: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.claim-form-page button {
  background-color: #EF4524;
  color: rgb(0, 0, 0);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.claim-form-page button:hover {
  background-color: #EF4524;
  font-family: Arial, Helvetica, sans-serif;
}
