@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.back-home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.back-home1 {
  color: #EF4524;
}

.back-home:hover {
  color: #008cff;
  transition: 0.4s;
}

button[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.orange {
    background-color: #EF4524;
    padding: 3rem 0rem 3rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.claim-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ff6600;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
  margin-top: 3rem;
}
.claim-btn:hover {
  background-color: #cc5200;
}


.orange div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


/*mama Mo Edit*/

.contacts_main2 {
    color: rgb(0, 0, 0);
    margin: 2%;

    padding-top: 2%;
    width: 100%;
    max-height: 40%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

.R_div2 h2{
    margin-bottom: 1%;
    color: #EF4524;
}

.details2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    margin: 2%;
}

.l_div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EF4524;
    padding: 2rem;
    
}

.l_div2 input, textarea {
    border: none;
    padding: 5px;
    width: 100%;
    background: none;
    border-bottom: solid 1px white;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 3%;
    color: white;
}

.l_div2 textarea::placeholder, .l_div2 input::placeholder {
  color: #ffffff;  
  opacity: 1;      
}

.input_R2 {
    display: flex;
    flex-direction: column;
}
.input_R2 input {
    margin-bottom: 1%;
}

.input_R2 button {
    background-color: black;
    padding: 10px;
    height: 100%;
    margin-top: 20%;
}

.R_div2{
    display: flex;
    flex-direction: column;
    align-items: start;
    color: black;
}

.icons12{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.icons12 i{
    padding-right: 10px;
    color:#EF4524;
}

.map_container {
  width: 100%;
  margin-top: 1rem;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}


.heard_options{
    display: flex;
    flex-direction: Row;
}

.heard_options label{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

@media (max-width: 768px) {
    .details2{
        flex-direction: column;
    }

    .icons12{
        text-align: left;
        margin-left: 5%;
    }
}